.Article {
  padding: 24px;
  margin: 0 auto;
}
.Article_Cover {
  width: 100%;
  height: 0;
  padding: 52.5% 0 0;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
  margin: 0 0 16px;
}
.Article_Cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.Article_Header {
  margin: 0 0 60px 0;
}
.Article_Title {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: bold;
  margin: 0 0 16px 0;
  padding: 0;
}
.Article_Tags {
  margin: 0 0 16px 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Article_Tags li {
  margin: 0 8px 8px 0;
  padding: 0;
  list-style: none;
  font-size: 1.4rem;
}
.Article_Tags li a {
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  padding: 0 8px;
  transition: border 0.2s;
}
.Article_Tags li a:hover {
  border: 1px solid #999;
}
.Article_Row {
  display: flex;
  align-items: center;
}
.Article_Author {
  display: flex;
  align-items: center;
}
.Article_Avatar {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  overflow: hidden;
  margin: 0 12px 0 0;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Article_Avatar img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  font-family: 'object-fit: cover'; /* IE11 */
}
.Article_AuthorData {
  flex: 1;
}
.Article_AuthorName {
  font-weight: bold;
  display: block;
  line-height: 1.5;
  color: #333;
  text-decoration: none;
  font-size: 1.4rem;
}
.Article_AuthorName:hover {
  text-decoration: underline;
}
.Article_Date {
  color: #666;
  font-size: 1.4rem;
  line-height: 1.5;
  display: block;
}
.Article_Share {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 0 auto;
}
.Article_ShareLabel {
  color: #666;
  font-size: 1.4rem;
  margin: 0 2px 0 0;
  line-height: 1;
}
.Article_ShareList {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.Article_ShareList > li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.Article_ShareList > li > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 14px;
  background: none;
  border: none;
  cursor: pointer;
}
.Article_ShareList > li > button > svg {
  width: 28px;
  height: 28px;
  transition: fill 0.2s;
}
.Article_ShareList > li > button.Twitter > svg {
  width: 21px;
  height: 21px;
}
.Article_ShareList > li > button:hover > svg {
  fill: #888;
}
.Article_Body {
  padding: 0 0 48px 0;
  margin: 0 0 28px 0;
  border-bottom: 1px solid #e5e5e5;
}
.Article_Body h1,
.Article_Body h2,
.Article_Body h3,
.Article_Body h4,
.Article_Body h5,
.Article_Body h6 {
  padding: 0;
  margin: 40px 0 24px 0;
  line-height: 1.4;
}
.Article_Body h1 {
  font-size: 2.4rem;
}
.Article_Body h2 {
  font-size: 2.2rem;
}
.Article_Body h3 {
  font-size: 2rem;
}
.Article_Body h4 {
  font-size: 1.8rem;
}
.Article_Body h5 {
  font-size: 1.6rem;
}
.Article_Body h6 {
  font-size: 1.4rem;
}
.Article_Body p {
  margin: 0 0 24px 0;
}
.Article_Body img {
  max-width: 100%;
  height: auto;
  margin: 32px auto;
  display: block;
}
.Article_Body ul,
.Article_Body ol {
  margin: 0;
  padding: 0 0 16px 40px;
}
.Article_Body ul li,
.Article_Body ol li {
  margin: 0 0 4px 0;
  padding: 0;
}
.Article_Body ul li ul,
.Article_Body ul li ol,
.Article_Body ol li ol,
.Article_Body ol li ul {
  padding: 0 0 0 20px;
}
.Article_Body blockquote {
  border-left: 4px solid #ccc;
  padding: 0 0 0 40px;
  margin: 0 0 20px 0;
}
.Article_Body pre {
  background: #333;
  color: #fff;
  border-radius: 4px;
  padding: 16px 20px;
  margin: 0 0 20px 0;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow: auto;
  font-family: 'Segoe UI Emoji', 'Helvetica Neue', Arial,
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}
.Article_Body code {
  border: 1px solid #ddd;
  background: #f8f8f8;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 0 4px;
  color: #dc1e59;
  font-size: 1.4rem;
  font-family: 'Segoe UI Emoji', 'Helvetica Neue', Arial,
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}
.Article_Body pre code {
  border: none;
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  color: #fff;
}
@media (min-width: 600px) {
  .Article {
    max-width: 700px;
    padding: 60px;
  }
  .Article_Cover {
    margin: 0 0 28px;
  }
  .Article_ShareLabel {
    margin: 0 4px 0 0;
  }
}
.SnsShare {
  display: flex;
  align-items: center;
  padding: 0 0 48px 0;
}
.SnsShare_Label {
  color: #666;
  font-size: 1.4rem;
  margin: 0 16px 0 0;
}
.SnsShare_List {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.SnsShare_List > li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.SnsShare_List > li > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  background: none;
  border: none;
  cursor: pointer;
}
.SnsShare_List > li > button > svg {
  width: 28px;
  height: 28px;
  transition: fill 0.2s;
}
.SnsShare_List > li > button.Twitter > svg {
  width: 21px;
  height: 21px;
}
.SnsShare_List > li > button:hover > svg {
  fill: #888;
}
.Author {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  align-items: center;
  margin: 0 0 48px 0;
}
.Author_Avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
  margin: 0 16px 0 0;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Author_Avatar img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  font-family: 'object-fit: cover'; /* IE11 */
}
.Author_Name {
  margin: 0 0 4px 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #333;
  text-decoration: none;
}
.Author_Name:hover {
  text-decoration: underline;
}
.Author_Description {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1.2rem;
}
.Author_Description p {
  margin: 0;
  padding: 0;
}
.Links {
  display: flex;
  position: relative;
  margin: 0 0 40px 0;
}
.Links::after {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #e5e5e5;
  left: 50%;
  content: '';
}
.Links_Previous,
.Links_Next {
  width: 45%;
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.6;
}
.Links_Previous:hover,
.Links_Next:hover {
  text-decoration: underline;
}
.Links_Previous svg,
.Links_Next svg {
  width: 16px;
  height: 16px;
}
.Links_Previous {
  margin: 0 auto 0 0;
}
.Links_Previous svg {
  margin: 0 8px 0 0;
}
.Links_Next {
  margin: 0 0 0 auto;
  text-align: right;
  justify-content: flex-end;
}
.Links_Next svg {
  margin: 0 0 0 8px;
}
